annotated-types==0.7.0
archinstall==3.0.2
argcomplete==3.5.3
asttokens==3.0.0
attrs==23.2.1.dev0
autocommand==2.2.2
btrfsutil==6.13
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
comm==0.2.2
cryptography==44.0.1
decorator==5.1.1
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.17.0
idna==3.10
importlib_metadata==7.2.1
inflect==7.5.0
ipykernel==6.29.5
ipython==8.32.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.5
jupyter_client==8.6.3
jupyter_core==5.7.2
lensfun==0.3.4
lit==19.1.7.dev0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
more-itertools==10.5.0
nest_asyncio==1.6.0
numpy==2.2.3
ordered-set==4.1.0
packaging==24.2
parso==0.8.4
pexpect==4.9.0
platformdirs==4.3.6
ply==3.11
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.13.6
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pygdbmi==0.11.0.0
Pygments==2.19.1
PyGObject==3.50.0
PyOpenGL==3.1.7
pyparted==3.13.0
PySide6==6.8.2.1
python-dateutil==2.9.0
pyzmq==26.2.0
requests==2.32.3
sentry-sdk==2.22.0
setuptools==75.8.0
shiboken6==6.8.2.1
shiboken6-generator==6.8.2.1
six==1.17.0
smbus==1.1
stack_data==0.6.3
TBB==0.2
tomli==2.0.1
tornado==6.4.2
traitlets==5.14.3
trove-classifiers==2025.2.18.16
typeguard==4.4.1
typing_extensions==4.12.2
urllib3==2.3.0
validate-pyproject==0.23.post1.dev0+gf45606b.d20250111
wcwidth==0.2.13
wheel==0.45.0
zipp==3.21.0
